@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    ;
}

.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    padding: 0 80px;

}


.logo-container {
    min-height: 50px;
    margin-top: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 50%;

}

.logo-title {
    font-size: 30px;
    font-weight: 600;
}

.logo-img {
    width: 40px;
    height: 20px;
    margin-right: 10px;


}

.color-change {
    color: #FF42A5;

}

.menu-container a {
    text-decoration: none;
    color: #3C354F;

}

.menu-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container .menu-button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #3C354F;
    align-items: center;

}

.fa-brands{
    font-size: 15px;
    margin-left: 5px;
    color: red;
    
    
}


/* Nav styles end here */

/* Banner styles start */

.banner-container {

    margin: 50px auto 0;
    max-width: 1400px;
    padding: 0 80px;
    max-width: 1400px;
    min-height: 50px;
    margin-bottom: 50px;
    
    
}

.banner-part{
    display: flex;
    
    
}

.banner-text{
    margin-top: 100px;
    width: 50%;
}


.banner-play {
    color: #0B0223;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    


}

.banner-goat {
    margin-top: -30px;
    margin-bottom: 0;
    font-size: 95px;
    font-weight: bolder;
    /* background: linear-gradient(180deg, #F948B2 0%, hwb(258 32% 5%) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left; */
    background-image: linear-gradient(to bottom , #ec2b9f96 ,  #652fe2 );
    color: transparent;
    -webkit-background-clip: text;
    


}

.banner-image-part{
    width: 50%;
    
    height: 100%;

}

.banner-part p{
    text-align: left;
}




.fa-sharp{
    border: 1px solid black;
    border-radius:50%
}

.fa-play{
    padding: 5px;
    color: red;
}

.fa-sharp.fa-play{
    font-size: 10px;
    text-align: center;
}

.fa-solid.fa-download{
    color: rgb(223, 26, 59);
}

.fa-solid.fa-person{
    font-size: 20px;
}

.banner-button{
    display: flex;
}
.sign-button{
    background-color: #F948B2;
    border: none;
    border-radius: 48px;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    
}

.go-button{
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}